
.logo{
    width: 5%;
    height: 5%;
}
#header{
    background-color: #ffff;
}
.background{
    background-color: #FAB041;
}
.separation{
    margin-top: 20%;
}
#card-top{
    background-color: #ED9410;
}
#card-body{
    background-color: #B36E07;
}
#circulo {
    width: 150px;
    height: 150px;
    background: #FFC165;
    border-radius: 1000px;
  }
.img-c{
height: 700px;
}
#padd{
padding: 0;
}
